.carrousel{
    display:flex;
    width: auto;
    height: 16rem;
    overflow: hidden;
}

.container img {
    max-width: auto;
    height: 20rem;
    
}

.container h2 {
    margin-top: -10rem;
    margin-left: 2rem;
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: 300; 
    text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px darkgray; 

}
.container h3 {
    margin-top: 0.2rem;
    margin-left: 2rem;
    margin-bottom: 0;
    width: 50%;
    font-weight: 300; 
    text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px darkgray; 

}
.container p {
    border: 10px solid white;
    margin-top: -1rem;
    margin-left: -6rem;
    padding-right: 5rem;
    margin-right: 5rem;
    text-align: right;
  }

  @media (max-width: 768px) {
    .carrousel {
        padding: 0.5rem;
        
    }

    .container {
        padding: 0.5rem;

    }

    .container h2 {
        font-size: 1.5rem; 
    }

    .container h3 {
        font-size: 0.85rem; 
    }
}

@media (max-width: 480px) {
    .carrousel {
        padding: 0.25rem; 
    }

    .container h2 {
        font-size: 1.2rem; 
    }

    .container h3 {
        font-size: 0.60rem;
    }
}